In [23]:
import numpy as np
import pandas as pd

mydataset = {"cars":["Bugatti","McLaren","Porsche"],
            "colour":["Black","Papaya Orange","Silver"]}
s = pd.DataFrame(mydataset) 
s

      cars         colour
0  Bugatti          Black
1  McLaren  Papaya Orange
2  Porsche         Silver

In [18]:
import numpy as np
import pandas as pd
# series data type similiar to numpy array it can have labels
# this series can hold any data (python object also), typecasting

labels = ['a','b','c','d']
list1 =[1,2,3,4]

arr = np.array([40,50,60])
dict1 = {
    'A':10,
    'B':20,
    'C':30,
}

s = pd.Series(data=arr)

0    40
1    50
2    60
dtype: int32

In [24]:
# Create a list of fruits, with colours. make label as color.
# Create a 2D with list of fruits and colours.

import numpy as np
import pandas as pd

fruits = {
    "color":["Raspberry","Snake Fruit",'']
}

In [28]:
import numpy as np
import pandas as pd

s = pd.Series([1,2,3],index=['a','b','c'])
s

a    1
b    2
c    3
dtype: int64

In [203]:
import numpy as np
import pandas as pd
import random
# Seed value random is used to generate random vals
# Seed function is used to save the state of random function so that it can generate some random values on multiple execution of the code.
# Seed is used to initialise the random value generator

random.seed(0)

print("First",random.randint(50,51))

random.seed(1)


print("Second",random.randint(50,51))

First 51
Second 50

In [327]:
import numpy as np
import pandas as pd
import random


# random.seed(10)

print(random.random())

random.seed(10)

print(random.random())

0.4288890546751146
0.5714025946899135

In [427]:
import numpy as np
import pandas as pd
import random

np.random.seed(5)
df = pd.DataFrame(np.random.rand(5,4),index='a b c d e'.split(" "),columns='p q r s'.split(" "))
df[['r','s']]

type(df['p'])

df["f"] = [1,2,3,4,5]

df.drop("a",axis=0)

df.iloc[2]

df.loc['b','r']

df.loc[['a','b'],['r','s']]

          r         s
a  0.206719  0.918611
b  0.765908  0.518418

In [432]:
a1 = ['a','a','a','b','b','b']
b1 = [1,2,3,1,2,3]
c = list(zip(a1,b1))
c

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [436]:
df = pd.DataFrame(np.random.rand(3,2),index=[sum,len,print],columns=['x','y'])
df

                                  x         y
<built-in function sum>    0.964915  0.631766
<built-in function len>    0.816660  0.566082
<built-in function print>  0.635356  0.811902