In [11]:
import pandas as pd
df=pd.read_csv("test.csv",header=None,index_col=0,names=['Name','Age'])
df

  Name  Age
0  ABC   10
2  DEF   20
3  ANM   40

In [18]:
df1=pd.read_csv("test.csv",usecols=[1,2],header=None)
df1

     1   2
0  ABC  10
1  DEF  20
2  ANM  40

In [21]:
df=pd.read_csv("test.csv",sep='.',header=None)
df

   0    1   2
0  0  ABC  10
1  2  DEF  20
2  3  ANM  40

In [12]:
df['Name']

0    ABC
2    DEF
3    ANM
Name: Name, dtype: object